.mainmenu-area {
  background-color: #f5f5f5;
  padding-bottom: 15px;
  a {
    color: #353535;
  }
}

.logo {
  padding: 37px 0 0;

  .logo_info {
    display: inline-block;
    margin: 0 0 0 10px;
  }

  .logo_text {
    display: inline-block;
    vertical-align: top;
    line-height: 50px;
    margin-right: 8px;
    font-weight: 400 !important;
    font-size: 45px;

    b {
      font-weight: 400 !important;
    }
  }

  .logo_slogan {
    display: block;
    font-size: 16px;
    line-height: 24px;
    vertical-align: top;
    margin: 0 0 0 2px;
    letter-spacing: 0.5px;
    font-weight: 400;
    font-style: italic;
  }

  a {
    display: inline-block;
  }

  img {
    display: block;
    float: left;
    height: 60px;
    border: none;
    vertical-align: top;
    margin-top: 8px;
  }
}

.menu-wrapper {
  margin: 0 auto;
  padding: 25px 0;

  .info-wrapper {
    float: none;
    margin-top: 0;
    text-align: right;
    width: 524px;
    display: inline-block;
    vertical-align: middle;
  }

  .location,
  .phone {
    font-weight: 400;
    color: #353535;
    font-size: 16px;
    text-align: left;
    vertical-align: top;
    float: left;
    display: inline-block;
    position: relative;
    margin-right: 0;
    padding-right: 0;
    width: 50%;
    min-height: 58px;
  }
}

.openResponsiveMenu {
  display: table;
  height: 58px;
  width: 58px;
  line-height: 58px;
  text-align: center;
  float: none;
  clear: none;
  margin: 0 auto;
  padding: 0;
  position: relative;
  vertical-align: middle;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;

  &:before {
    display: block;
    height: 58px;
    width: 58px;
    text-align: center;
    line-height: 58px;
    font-family: "FontAwesome";
    font-size: 28px;
    content: '\f0c9';
    position: absolute;
    left: 0;
    margin: 0;
    color: #fa6739;
  }

  &:hover {
    background-color: #fa6739;
    &:before {
      color: #fff;
    }
  }
}

#mainmenu {
  background-color: #fff;

  border-radius: 2px;

  .active {
    a {
      color: #fa6839;
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  ul > li > a {
    color: #353535;
    text-transform: uppercase;
    display: block;
    font-size: 13px;
    height: 50px;
    line-height: 50px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 0 40px 0 30px;
  }

  ul > li + li {
    border-top: 1px solid #f5f5f5;
  }


}

@media (max-width: 479px) {
  .menu-wrapper {
    width: 300px;

    .info-wrapper {
      width: 100%;
    }

    .phone,
    .location {
      font-size: 13px;
    }
  }

}


